@model IList<Blog.Models.Post>
<html>
    <head></head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Resumo</th>
                    <th>Categoria</th>
                    <th>Publicado?</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td><a href="/Post/Visualiza/@p.Id">@p.Titulo</a></td>
                        <td>@p.Resumo</td>
                        <td>@p.Categoria</td>
                        <td>
                            @if(p.Publicado)
                            {
                                @Html.Raw(string.Format("{0:dd/MM/yyyy}", p.DataPublicacao))
                            } else
                            {
                                @Html.Raw("Não")
                            }
                        </td>
                        <td>
                            <a href="/Post/Remove/@p.Id">Remover</a>
                            <a href="/Post/Publica/@p.Id">Publicar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>
