@model Blog.Models.Post
<html>
    <head></head>
    <body>
        <form action="/Post/Adiciona" method="post">
            @Html.ValidationMessage("titulo")
            <label>
                Título: <input name="titulo" value="@Model.Titulo" required maxlength="50" />
            </label>
            @Html.ValidationMessage("resumo")
            <label>
                Resumo: <input name="resumo" value="@Model.Resumo" required />
            </label>
            @Html.ValidationMessage("categoria")
            <label>
                Categoria: <input name="categoria" value="@Model.Categoria"/>
            </label>
            <button type="submit">Cadastrar</button>
        </form>
        <script src="~/js/jquery-1.10.2.js"></script>
        <script src="~/js/jquery.validate.js"></script>
        <script>
        $("form").validate()
        </script>
    </body>
</html>

