@model Blog.Models.Post

<div>
  @using (Html.BeginForm("Edita", "Post"))
  {
    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.Publicado)
    @Html.HiddenFor(p => p.DataPublicacao)

    @Html.EditorFor(p => p)

    <button type="submit">Cadastrar</button>
  }
</div>

@section Scripts {
    @Html.Partial("_Scripts")
}